.header {
  background: #ffe9c2;
  height: 418px;
  display: flex;
}

.header-logo {
  position: absolute;
  left: 15%;
  top: 6%;
}

.header-logo > img {
  width: inherit;
}

.header-left {
  width: 55%;
}
.header-right {
  width: 45%;
}
.header-img-pata {
  position: absolute;
}

.header-img-personDog {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 85%;
  bottom: -114px;
  right: 20px;
}

.header-buttons-login-cadastro {
  display: flex;
  position: relative;
  float: right;
  bottom: 83%;
  width: 40%;
  margin-right: 30px;
  justify-content: space-around;
}
.button-login {
  width: 37%;
  padding: 4.5px;
  border-radius: 20px;
  background: none;
  border: 2px solid white;
  font-size: 16px;
}

.button-cadastrar {
  width: 45%;
  padding: 4.5px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  background: #424960;
  color: white;
}

.header-container-gato-cachorro {
  top: 100%;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

.header-img-gato {
  top: 100%;
  position: sticky;
}

.header-img-cachorro {
  top: 100%;
  position: sticky;
}

.header-buttonsFilters {
  width: 78%;
  z-index: 999;
  margin-left: 3%;
  position: relative;
  top: 30%;
}

@media (max-width: 570px) {
  .header-right {
    display: none;
  }
  .header-left {
    width: 100%;
  }
  .header-buttonsFilters {
    width: 100%;
    margin: auto;
  }
}
